/*
代码不注释，同事两行泪！（给！爷！写！）
Elegance is not a dispensable luxury but a quality that decides between success and failure!
Created by Wu Qizhen on 2025.10.9
*/
:root {
    /* 统一主题色 */
    --theme-color: #0a53f2; /* 十六进制格式 */
    --theme-color-rgb: 10, 83, 242; /* RGB 格式 */
    /* --theme-color-darken: rgb(8, 64, 183); */ /* 实现暗度效果 */
    --theme-color-darken: rgba(var(--theme-color-rgb), 0.7); /* 用于压暗等微暗场景 */
    --theme-color-fade: rgba(var(--theme-color-rgb), 0.4); /* 用于阴影等更暗场景 */
    --theme-color-lighten: #1e90ff; /* 用于亮色组件场景 */

    /* 统一预设颜色 */
    --lightblue: rgb(0, 199, 228);
    --green: rgb(82, 224, 166);
    --yellow: rgb(253, 205, 34);
    --red: rgb(201, 79, 79);
    --lightblue-rgb: 0, 199, 228;
    --green-rgb: 82, 224, 166;
    --yellow-rgb: 253, 205, 34;
    --red-rgb: 201, 79, 79;

    /* 统一内容颜色 */
    --dark-bg-s: #1e1f22;
    --dark-bg-m: #2d2d2d;
    --dark-bg-l: #3a3a3a;
    --dark-bg-xl: #4a4a4a;

    --dark-content-s: #78797a;
    --dark-content-m: #a8abb2;
    --dark-content-l: #fff;

    --dark-line-s: #444;
    --dark-line-m: #555; /* 默认标准色 */
    --dark-line-l: #666;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: white;
}

.remark-normal {
    color: var(--dark-content-s);
    text-decoration: none;
}

.remark-highlight {
    color: var(--dark-content-m);
    text-decoration: none;
}
